@using  Simmonz.ViewModel.Common
@model PagedResult<Simmonz.ViewModel.Order.OrderViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="view-all">
        @await Html.PartialAsync("_ViewAll", Model)
</div>